
.rvt-c-section.rvt-bg-black-000::before {
  background-color: #f8f9fa !important;
}

/* Extend section background inside content column when page has a sidebar. */
.rvt-layout__wrapper--details .rvt-layout__content .rvt-c-section[class*="rvt-bg"] {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}

@media screen and (min-width: 46.25em) {
  .rvt-layout__wrapper--details .rvt-layout__content .rvt-c-section[class*="rvt-bg"] {
    margin-left: -4rem;
    padding-left: 4rem;
    position: relative;
  }

   .rvt-layout__wrapper--details .rvt-layout__content:last-child .rvt-c-section[class*="rvt-bg"]:last-child {
     margin-bottom: -4rem;
   }

  .rvt-layout__wrapper--details .rvt-layout__content .rvt-c-section[class*="rvt-bg"]::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
  }

  .rvt-layout__wrapper--details.rvt-container-xl .rvt-layout__content .rvt-c-section[class*="rvt-bg"]::before {
    width: calc((50vw - ((86.25rem) / 2)));
  }

  .rvt-layout__wrapper--details.rvt-container-lg .rvt-layout__content .rvt-c-section[class*="rvt-bg"]::before {
    width: calc((50vw - ((71.25rem) / 2)));
  }

  .rvt-layout__wrapper--details.rvt-container-md .rvt-layout__content .rvt-c-section[class*="rvt-bg"]::before {
    width: calc(50vw - ((64rem) / 2));
  }

  .rvt-layout__wrapper--details.rvt-container-sm .rvt-layout__content .rvt-c-section[class*="rvt-bg"]::before {
    width: calc(50vw - ((52.5rem) / 2));
  }

}
