.rvt-c-billboard {
  margin-top: 2.75rem !important;
  margin-bottom: 2.75rem !important;
}

.rvt-c-billboard__image img {
  aspect-ratio: 3/2;
  object-fit: cover;
}

/* Mimic styles from .rvt-hero__media-caption */
.rvt-c-billboard__media-caption {
  color: #4c5a69;
  font-size: .875rem;
  padding-top: .5rem;
  padding-left: .5rem;
}

.rvt-c-billboard__media-caption a {
  color: #4c5a69;
}

@media screen and (min-width: 46.25em) {
  .rvt-c-billboard {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }

  .rvt-c-billboard--split-screen {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }

  .rvt-c-billboard--split-screen .rvt-c-billboard__image::after {
    content: "";
    display: block;
    background-color: #f8f9fa;
    position: absolute;
    top: -4rem;
    right: 0;
    width: 50vw;
    height: calc(100% + 8rem);
    margin-right: calc(50% - 50vw);
    z-index: -1;
  }

  .rvt-c-billboard--split-screen:not(.rvt-billboard--reverse) .rvt-c-billboard__media-caption {
    padding-left: calc(10% + .5rem);
    padding-right: .5rem;
    text-align: right;
  }

}

@media screen and (min-width: 46.25em) {
  .rvt-billboard--reverse .rvt-c-billboard__image::after {
    left: 0;
    width: 50vw;
    height: calc(100% + 8rem);
    top: -4rem;
    margin-left: calc(50% - 50vw);
  }
}
