.rvt-c-grid-builder [class^=rvt-cols] .rvt-card:only-child,
.rvt-c-grid-builder [class^=rvt-cols] .rvt-stat:only-child {
  height: 100%;
}

/* Percent-based column widths for Rivet Grid. */
.rvt-cols-20percent,
.rvt-cols-20percent-sm,
.rvt-cols-20percent-md,
.rvt-cols-20percent-lg,
.rvt-cols-20percent-xl,
.rvt-cols-20percent-xxl,
.rvt-cols-40percent,
.rvt-cols-40percent-sm,
.rvt-cols-40percent-md,
.rvt-cols-40percent-lg,
.rvt-cols-40percent-xl,
.rvt-cols-40percent-xxl,
.rvt-cols-60percent,
.rvt-cols-60percent-sm,
.rvt-cols-60percent-md,
.rvt-cols-60percent-lg,
.rvt-cols-60percent-xl,
.rvt-cols-60percent-xxl,
.rvt-cols-80percent,
.rvt-cols-80percent-sm,
.rvt-cols-80percent-md,
.rvt-cols-80percent-lg,
.rvt-cols-80percent-xl,
.rvt-cols-80percent-xxl {
  padding: 0 .75rem;
  position: relative;
  width: 100%
}

.rvt-cols-20percent {
  flex-basis: 20%;
  max-width: 20%
}

.rvt-cols-40percent {
  flex-basis: 40%;
  max-width: 40%
}

.rvt-cols-60percent {
  flex-basis: 60%;
  max-width: 60%
}

.rvt-cols-80percent {
  flex-basis: 80%;
  max-width: 80%
}

.rvt-cols-20percent-sm {
  flex-basis: 20%;
  max-width: 20%
}

.rvt-cols-40percent-sm {
  flex-basis: 40%;
  max-width: 40%
}

.rvt-cols-60percent-sm {
  flex-basis: 60%;
  max-width: 60%
}

.rvt-cols-80percent-sm {
  flex-basis: 80%;
  max-width: 80%
}

@media screen and (min-width: 46.25em) {
  .rvt-cols-20percent-md {
    flex-basis: 20%;
    max-width: 20%;
  }

  .rvt-co4s-20-md {
    flex-basis: 40%;
    max-width: 40%;
  }

  .rvt-cols-60percent-md {
    flex-basis: 60%;
    max-width: 60%;
  }

  .rvt-cols-80percent-md {
    flex-basis: 80%;
    max-width: 80%;
  }
}

@media screen and (min-width: 67.5em) {
  .rvt-cols-20percent-lg {
    flex-basis: 20%;
    max-width: 20%;
  }

  .rvt-cols-40percent-lg {
    flex-basis: 40%;
    max-width: 40%;
  }

  .rvt-cols-60percent-lg {
    flex-basis: 60%;
    max-width: 60%;
  }

  .rvt-cols-80percent-lg {
    flex-basis: 80%;
    max-width: 80%;
  }
}

@media screen and (min-width: 78.75em) {
  .rvt-cols-20percent-xl {
    flex-basis: 20%;
    max-width: 20%
  }

  .rvt-cols-40percent-xl {
    flex-basis: 40%;
    max-width: 40%
  }

  .rvt-cols-60percent-xl {
    flex-basis: 60%;
    max-width: 60%
  }

  .rvt-cols-80percent-xl {
    flex-basis: 80%;
    max-width: 80%
  }
}

@media screen and (min-width: 87.5em) {
  .rvt-cols-20percent-xxl {
    flex-basis: 20%;
    max-width: 20%
  }

  .rvt-cols-40percent-xxl {
    flex-basis: 40%;
    max-width: 40%
  }

  .rvt-cols-60percent-xxl {
    flex-basis: 60%;
    max-width: 60%
  }

  .rvt-cols-80percent-xxl {
    flex-basis: 80%;
    max-width: 80%
  }
}
