{#
/**
 * @file
 * Template to display the Billboard image caption field.
 */
#}
{{ attach_library('iu_paragraphs/rvt-c-billboard') }}
{% for item in items %}
<div class="rvt-c-billboard__media-caption [ rvt-flow ]">
{{ item.content }}
</div>
{% endfor %}
