{#
/**
 * @file
 * Template to display the legacy Feature Subhead as a Rivet Card Eyebrow.
 */
#}
{% for item in items %}
{{ item.content }}{% if not loop.last %}&nbsp;&nbsp;&bull;&nbsp; {% endif %}
{% endfor %}
