{#
/**
 * @file
 * Template to display the legacy Panel Header field.
 *
 * The Panel chunk may have a heading level of an h2, h3, or h4. The value is
 * passed here via the data attribute `attributes['data-header-level']` from
 * the parent template, `paragraph--iu-panel.html.twig`.
 */
#}
{% set header_level = attributes['data-header-level'] %}
{% for item in items %}
<{{ header_level }}{{ attributes|without('data-header-level') }}>{{ item.content }}</{{ header_level }}>
{% endfor %}
