{#
/**
 * @file
 * Template to display the Image Caption Title field.
 */
#}
{%
  set classes = [
    'rvt-m-none'
  ]
%}
<div{{ attributes.addClass(classes) }}>
{% for item in items %}
{{ item.content }}
{% endfor %}
</div>
