{#
/**
 * @file
 * Template to display the Rivet Card title field.
 */
#}
{% for item in items %}
{% if item.content|render|trim|length %}
<h2{{ attributes }}>{{ item.content|render|striptags('<a>')|trim }}</h2>
{% endif %}
{% endfor %}
