{#
/**
 * @file
 * Template to display a Rivet avatar raster image.
 */
#}
{%
  set classes = [
    'rvt-avatar',
    view_mode ? view_mode|clean_class|replace({'_': '-'}),
    'rvt-c-avatar--' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'rvt-c-avatar--unpublished',
  ]
%}
<div{{ attributes.addClass(classes) }}>
{{ title_suffix.contextual_links }}
{% if content %}
{{ content }}
{% endif %}
</div>

