{#
/**
 * @file
 * Template to display a Rivet Link Hub component.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set items = content.iu_link_hub_items %}
{% set layout = paragraph.iu_link_hub_layout.value %}
{%
  set classes = [
    'rvt-link-hub',
    layout ? 'rvt-link-hub--' ~ layout,
  ]
%}
<nav aria-label="link hub">
  <ul{{ attributes.addClass(classes) }}>
  {% for key, item in items|filter((v, k) => k|first != '#') %}
    {% set link_hub_item = item['#paragraph'] %}
    {% if link_hub_item.iu_link.0.url is not empty %}
    <li class="rvt-link-hub__item">
      <a class="rvt-link-hub__link" href="{{ link_hub_item.iu_link.0.url }}">
        <span class="rvt-link-hub__text">{{ link_hub_item.iu_link.0.title }}</span>
        {% if link_hub_item.iu_description.value is not empty %}
        <span class="rvt-link-hub__description">{{ link_hub_item.iu_description.value }}</span>
        {% endif %}
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
