{#
/**
 * @file
 * Template to display a Tabs component.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}


{% set tab_sections = content.iu_tab_section %}

{%
  set classes = [
    'rvt-tabs',
  ]
%}

{% set paragraph_id = 'tabset-' ~ paragraph.id.value %}
<div{{ attributes.addClass(classes) }} data-rvt-tabs="{{ paragraph_id }}">
  {{ title_suffix }}
  <div class="rvt-tabs__tablist" aria-label="Rivet tabs" data-rvt-tablist>
    {# Loops through the tab sections to print the tab section titles. #}
    {% for key, item in tab_sections|filter((item, key) => key|first != '#') %}
      {% set section = item['#paragraph'] %}
      {% set id = section.id.value %}
      <button class="rvt-tabs__tab" data-rvt-tab>{{ section.iu_tab_section_title.value }}</button>
    {% endfor %}
  </div>
  {% for key, item in tab_sections|filter((item, key) => key|first != '#') %}
    {% set section = item['#paragraph'] %}
    {% set id = section.id.value %}
    <div class="rvt-tabs__panel" data-rvt-tab-panel>
      {% for body_key, body_item in section.iu_tab_section_body %}
        {# Use the same render array as item and set the '#paragraph'. #}
        {% set section_body = item %}
        {# Load the entity for the current translation #}
        {% set section_body = section_body|merge({'#paragraph': section_body['#paragraph'].iu_tab_section_body[body_key].entity.getTranslation(section_body['#paragraph'].langcode[0].value)}) %}
        {# Remove the cache keys so it doesn't repeat the first value. #}
        {% set section_body = section_body|merge({'#cache': {}}) %}
        {# Print the compiled section body. #}
        {{ section_body }}
      {% endfor %}
    </div>
  {% endfor %}
  {# Loops through the tab sections again to print the tab section bodies. #}
  </div>
</div>
