{#
/**
 * @file
 * Template to display a Stat Group component.
 */
#}
{{ attach_library('iu_paragraphs/rvt-c-stat-group') }}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set items = content.iu_stats_content %}
{% set count = items['#items']|length %}

{# @todo let user choose to vertically center or align to top. #}
{%
  set classes = [
    'rvt-stat-group',
    'rvt-c-stat-group--vertically-centered',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {#
    For vertically centered stats, we need an
    additional DIV wrapper around each stat.
  #}
  {% if count > 1 %}
    {% for key, item in items|filter((item, key) => key|first != '#') %}
    <div>{{ item }}</div>
    {% endfor %}
  {% else %}
    {{ items }}
  {% endif %}
</div>
