{#
/**
 * @file
 * Template to display a legacy Interactive Panel as a Rivet Card.
 */
#}
{{ attach_library('iu_paragraphs/rvt-c-card--clickable') }}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set header = content.iu_panel_header %}
{% set text = content.iu_panel_content %}

{%
  set classes = [
    'rvt-card',
    'rvt-card--clickable',
    'rvt-c-card--clickable',
    'rvt-card--raised',
  ]
%}

<div{{ attributes.addClass(classes)}}>
  {{ title_suffix }}
  <div class="rvt-card__body">
    <{{ header_level }} class="rvt-card__title">
      <a href={{ link_url }}>{{ paragraph.iu_panel_header.value }}</a>
    </{{ header_level }}>

    {% if text|render is not empty %}
    <div class="rvt-card__content [ rvt-flow rvt-p-top-sm ]">
      {{ text }}
    </div>
    {% endif %}
  </div>
</div>
