{#
/**
 * @file
 * Template to display a legacy Feature Carousel as a Rivet Card Grid.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set has_title = paragraph.iu_feature_carousel_title.value|render|striptags|trim is not empty %}

{% set layout = paragraph.iu_feature_carousel_layout.value ?? 'grid' %}
{% set items = content.iu_feature_carousel_items %}
{% set count = items['#items']|length %}
{% set grid_3 = count is divisible by(3) %}
{% set grid_4 = not grid_3 and count is divisible by(4) %}
{% set grid_2 = not grid_3 and not grid_4 and count is divisible by(2) %}
{% set grid_3 = not grid_2 and not grid_4 %}

{% set is_list = layout == 'list' %}
{% set is_grid = not is_list %}

{%
  set row_classes = [
    'rvt-row',
    is_grid and grid_2 ? 'rvt-row--loose',
    'rvt-m-top-lg',
  ]
%}
{% set col_classes = [
    is_list or count == 1 ? 'rvt-cols-12',
    is_grid and grid_4 ? 'rvt-cols-3-md',
    is_grid and grid_3 ? 'rvt-cols-4-md',
    is_grid and grid_2 ? 'rvt-cols-6-md',
    '[',
    is_grid ? 'rvt-flex rvt-m-bottom-lg',
    is_list and count > 1 ? 'rvt-m-bottom-md',
    ']',
  ]
%}
{% set heading_classes = [
    'rvt-flex',
    'rvt-flex-row',
    'rvt-justify-space-between',
    'rvt-items-baseline',
    'rvt-gap-md',
    'rvt-m-top-lg',
  ]
%}
{% set item_classes = [
    is_list ? 'rvt-card--horizontal',
  ]
%}

{% if has_title %}
<div class="{{ heading_classes|join(' ')|trim }}">
  {{ content.iu_feature_carousel_title|merge({'#attributes': {'class': 'rvt-ts-md'}}) }}
  {{ content.iu_feature_carousel_more_link|merge({'#attributes': {'class': ['rvt-hide-md-down', 'rvt-ts-xs']}}) }}
</div>
{% endif %}

<div class="{{ row_classes|join(' ')|trim }}">
  {#
    Avoid extra DIV wrappers ensuring the columns are rendered
    directly to maintain the DOM structure required by Rivet.
  #}
  {% set filtered_items = items|filter((item, key) => key|first != '#') %}
  {% for key, item in filtered_items %}
    <div class="{{ col_classes|join(' ')|trim }}">
    {{ item|merge({'#attributes': {'class': item_classes}}) }}
    </div>
  {% endfor %}
</div>

{% if paragraph.iu_feature_carousel_more_link.value %}
  {{ content.iu_feature_carousel_more_link|merge({'#attributes': {'class': ['rvt-hide-md-up']}}) }}
{% endif %}
