{#
/**
 * @file
 * Template to display an Image for Rivet.
 *
 * If the image has title/description format it like a Rivet Card.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set has_link = content.iu_link|render is not empty %}
{% if has_link %}
{% set url = paragraph.iu_link.get(0).getUrl().toString() %}
{% set title = paragraph.iu_link.title %}
{% endif %}
{% if content.iu_image_caption_title|render is not empty %}
{% set title = content.iu_image_caption_title|render %}
{% endif %}
{% set has_title = title is not empty %}

{% set has_description = content.iu_image_caption_description|render|striptags|trim|length %}
{% set has_caption = has_title or has_description %}

{%
  set classes = [
    has_caption ? 'rvt-card',
    has_caption and has_link ? 'rvt-card--clickable',
  ]
%}
{% set description_classes = [
    has_title ? 'rvt-card__content [ rvt-flow rvt-p-top-sm ]',
    not has_title ? 'rvt-card__meta rvt-p-top-none',
  ]
%}

{# Prints div with classes, and content without Width and Background. #}
<div{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  <div class="rvt-card__image">
    {{ content|without('iu_image_caption_title', 'iu_image_caption_description', 'iu_link') }}
  </div>
  {% if has_caption %}
  <div class="rvt-card__body">
    {% if has_title %}
    <div class="rvt-card__title">
      {% if has_link %}
      <a href="{{ url }}">{{ title }}</a>
      {% else %}
      {{ title }}
      {% endif %}
    </div>
    {% endif %}
    {% if has_description %}
    <div{{ create_attribute({'class': description_classes}) }}>
      {{ content.iu_image_caption_description }}
      </div>
    {% endif %}
  </div>
  {% endif %}
</div>
