{#
/**
 * @file
 * Template to display a legacy Banner as a Rivet Hero.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set has_title = paragraph.iu_banner_header.value is not empty %}
{% set has_eyebrow = paragraph.iu_banner_subhead.value is not empty %}
{% set has_text = paragraph.iu_banner_teaser.value is not empty %}
{% set title = paragraph.iu_banner_header.value %}
{% set title_ts = paragraph.iu_banner_header_ts.value ?? 'rvt-ts-xl' %}
{% if title_ts == 'rvt-ts-xl' %}{% set title_ts = '' %}{% endif %}
{% set eyebrow = content.iu_banner_subhead %}
{% set text = content.iu_banner_teaser %}
{% set color = paragraph.iu_section_background_color.value %}
{% set image = content.iu_banner_image %}
{% set mp4 = content.iu_banner_mp4 %}
{% set webm = content.iu_banner_webm %}
{% set has_image = image|render is not empty %}
{% set has_video = mp4|render is not empty or webm|render is not empty %}
{% if has_image %}
  {% set image_attribution = image.0["#media"].field_media_attribution.value %}
  {% set has_image_attribution = image_attribution|render|striptags|trim|length %}
  {% set has_image_caption = content.iu_banner_image_caption|render is not empty %}
{% endif %}
{% set has_link = content.iu_banner_link|render is not empty %}
{% if has_link %}
{% set link = content.iu_banner_link %}
{% set link_url = link.0['#url'] %}
{% set link_title = link.0['#title'] %}
{% endif %}
{% set has_secondary_link = content.iu_banner_secondary_link|render is not empty %}
{% if has_secondary_link %}
{% set link_secondary = content.iu_banner_secondary_link %}
{% set link_secondary_url = link_secondary.0['#url'] %}
{% set link_secondary_title = link_secondary.0['#title'] %}
{% endif %}
{% set background_color = paragraph.iu_section_background_color.value %}
{% set is_bg_dark = background_color in ['crimson', 'secondary', 'rvt-bg-crimson'] %}
{% set has_body = has_eyebrow or has_title or has_text or has_link or has_secondary_link %}
{% set is_empty = not has_body and not has_video and not has_image %}

{% if not is_empty %}

{{ attach_library('iu_paragraphs/rvt-c-hero') }}

{%
  set classes = [
    'rvt-hero',
    'rvt-c-hero',
    is_bg_dark ? 'rvt-hero--bg-dark',
  ]
%}

{% set width = content_width ? content_width : page_width ? page_width : 'rvt-container-lg' %}

<div{{ attributes.addClass(classes) }}>
  <div class="{{ width }}">
    <div class="rvt-hero__inner">
      {% if has_body %}
      <div class="rvt-hero__body [ rvt-flow ]">
        {% if has_eyebrow %}
        <span class="rvt-hero__eyebrow">
          {{ eyebrow }}
        </span>
        {% endif %}
        {% if has_title %}
        <{{ heading_level }} class="rvt-hero__title {{ title_ts }}">
          {{ title}}
        </{{ heading_level }}>
        {% endif %}
        {% if has_text %}
        <div class="rvt-hero__teaser">
          {{ text }}
        </div>
        {% endif %}
        {% if has_link or has_secondary_link %}
        <div class="rvt-hero__actions">
          {% if has_link %}
            <a class="rvt-cta rvt-cta--button" href="{{ link_url }}">{{ link_title }}</a>
          {% endif %}
          {% if has_link and has_secondary_link %}
            <a class="rvt-cta" href="{{ link_secondary_url }}">{{ link_secondary_title }}</a>
          {% elseif not has_link and has_secondary_link %}
            <a class="rvt-cta rvt-cta--button" href="{{ link_secondary_url }}">{{ link_secondary_title }}</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% if has_image %}
        <div class="rvt-hero__media">
          {{ image|render|striptags('<picture><source><img>')|raw }}
          {% if has_image_caption or has_image_attribution %}
            <div class="rvt-hero__media-caption [ rvt-flow ]">
            {% if has_image_caption %}
              {{ content.iu_banner_image_caption }}
            {% elseif has_image_attribution %}
              {{ image_attribution }}
            {% endif %}
            </div>
          {% endif %}
        </div>
      {% elseif has_video %}
      <div class="rvt-hero__media">
        {{ mp4 }}
        {{ webm }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
