{#
/**
 * @file
 * Template to display a custom Grid Builder Column using Rivet Grid.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set items = content.iu_grid_item_content %}
{% set custom_classes = paragraph.iu_grid_item_class.value %}
{% set count = items['#items']|length %}

{% set default_classes = attributes.class|join(' ')|split(' ') %}
{% if custom_classes is not empty %}
  {% set class_prefix = 'rvt-cols-' %}
  {% if class_prefix in custom_classes %}
    {% set default_classes = default_classes|filter(v => class_prefix not in v) %}
  {% endif %}
{% endif %}

{%
  set classes = [
    custom_classes|join(' '),
    default_classes|join(' '),
    count > 1 ? '[ rvt-flow ]',
  ]|join(' ')|split(' ')|filter(v => v is not empty)
%}
{# Ensure classes with prefix 'rvt-cols-' are always first. #}
{% set column_classes = [] %}
{% set other_classes = [] %}
{% for class in classes %}
  {% if class starts with 'rvt-cols-' %}
    {% set column_classes = column_classes|merge([class]) %}
  {% else %}
    {% set other_classes = other_classes|merge([class]) %}
  {% endif %}
{% endfor %}
{% set sorted_classes = column_classes|merge(other_classes) %}

<div{{ create_attribute().addClass(sorted_classes) }}>
  {{ content }}
</div>
