{#
/**
 * @file
 * Template to display a legacy Feature chunk as a Rivet Card.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content %}
	{% set content = content._field_layout.content %}
{% endif %}

{% set headline = NULL %}
{% set title = NULL %}
{% set url = NULL %}
{% set text = NULL %}
{% set meta = NULL %}
{% set style = NULL %}
{% set is_legacy = 'rivet' not in paragraph.iu_version.value %}
{% set add_default_classes = is_legacy %}

{% if paragraph.iu_feature_link.get(0) %}
  {% set headline = paragraph.iu_feature_link.title %}
  {% set url = paragraph.iu_feature_link.get(0).getUrl().toString() %}
  {% set link_text = headline %}
{% endif %}
{% if paragraph.iu_feature_headline.value is not empty %}
  {% set headline = paragraph.iu_feature_headline.value %}
{% endif %}
{% set subhead = content.iu_feature_subhead %}
{% if paragraph.iu_feature_content.value is not empty %}
  {% set text = content.iu_feature_content|render %}
{% elseif link_text and headline and link_text != headline and link_text != 'Read More' %}
  {% set text = link_text %}
{% endif %}
{% set text_has_link = '<a ' in text|render|raw %}
{% set meta = paragraph.iu_feature_meta.value %}
{%
  set classes = [
    'rvt-card',
    add_default_classes ? 'rvt-card--raised',
    add_default_classes ? 'rvt-card--clickable',
  ]
%}
{% set added_styles = paragraph.iu_feature_style|map(s => "#{s.value}") %}
{% set classes = classes|merge(added_styles) %}
{# Card is not clickable if text has link, or if url is empty #}
{% if url is empty or text_has_link %}
  {% set classes = classes|filter((v) => v != 'rvt-card--clickable') %}
{% endif %}
{% if is_horizontal %}
  {% set classes = classes|merge(['rvt-card--horizontal']) %}
  {% set classes = classes|merge(['rvt-c-card--horizontal']) %}
  {{ attach_library('iu_paragraphs/rvt-c-card--horizontal') }}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {{ title_suffix }}

  {% if has_image %}
  <div class="rvt-card__image">
    {{ content.iu_feature_image }}
    {{ content.iu_media_image }}
  </div>
  {% endif %}

  <div class="rvt-card__body">
    {% if subhead is not empty %}
    <div class="rvt-card__eyebrow">{{ subhead }}</div>
    {% endif %}

    {% if headline is not empty %}
    <div class="rvt-card__title">
      {% if url %}
      <a href="{{ url }}">{{ headline }}</a>
      {% else %}
      {{ headline }}
      {% endif %}
    </div>
    {% endif %}

    {% if text %}
    <div class="rvt-card__content {{ not is_horizontal ? '[ rvt-flow ]' }}">
      {{ text }}
    </div>
    {% endif %}

  </div>
</div>
