{#
/**
 * @file
 * Template to display a Stat component.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set image = content.iu_media_image %}
{% set has_image = image|render is not empty %}
{% if has_image %}
  {% set image_url = image.0["#media"].field_media_image.entity.uri.url %}
  {% set image_alt = image.0["#media"].field_media_image.alt %}
{% endif %}

{% set number = content.iu_stat_number %}
{% set text = content.iu_stat_content %}

{# Note: the 'button' class on  {{ link } is added via preprocess_field__iu_stat_link #}
{% set link = content.iu_stat_link %}
{% set has_link = link|render is not empty %}
{% if has_link %}
  {% set url = content.iu_stat_link.0['#url'] %}
  {% set title = content.iu_stat_link.0['#title'] %}
{% endif %}

{% set classes = [
  'rvt-stat',
]
%}

{% if has_link %}
<a{{ attributes.addClass(classes) }} href="{{ url }}" title="{{ title }}">
{% else %}
<div{{ attributes.addClass(classes) }}>
{% endif %}
{{ title_suffix }}
  <div class="rvt-stat__content [ rvt-flow ]">
    {% if has_image %}
    <div class="rvt-stat__image">
      {{ image }}
    </div>
    {% endif %}
    {{ number|merge({'#attributes': {'class': ['rvt-stat__number']}}) }}
    {{ text|merge({'#attributes': {'class': ['rvt-stat__description']}}) }}
  </div>
{% if has_link %}
</a>
{% else %}
</div>
{% endif %}
