{#
/**
 * @file
 * Template to display a Rivet Billboard component.
 */
#}
{{ attach_library('iu_paragraphs/rvt-c-billboard') }}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set title = content.rivet_billboard_title %}
{% set text = content.rivet_billboard_content %}
{% set image = content.rivet_billboard_image %}
{% set has_image = image|render is not empty %}
{% set link = content.rivet_billboard_link %}
{% set layout = paragraph.rivet_billboard_layout.value %}
{% set image_caption = content.rivet_billboard_image_caption %}

{%
  set classes = [
    'rvt-billboard',
    'rvt-c-billboard',
    'reversed' in layout and has_image ? 'rvt-billboard--reverse',
    'centered' in layout and not has_image ? 'rvt-billboard--center',
    'split-screen' in layout and has_image ? 'rvt-c-billboard--split-screen',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if has_image %}
  <div class="rvt-billboard__image rvt-c-billboard__image">
    {{ image }}
    {{ image_caption }}
  </div>
  {% endif %}
  <div class="rvt-billboard__body">
    <h2 class="rvt-billboard__title"> {{ title }} </h2>
    <div class="rvt-billboard__content [ rvt-flow ]">
      {{ text }}
      {{ link|merge({'#attributes':{'class':['rvt-cta']}})}}
    </div>
  </div>
</div>
