{#
/**
 * @file
 * Template to format a custom Grid Builder using Rivet Grid.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content %}
  {% set content = content._field_layout.content %}
{% endif %}

{{ attach_library('iu_paragraphs/rvt-c-grid-builder') }}

{% set columns = content.iu_grid_builder_columns %}
{% set count = columns['#items']|length %}

{# Fallback equal-width columns based on best fit by number of items. #}
{% set col1 = count == 1 %}
{% set col2 = count == 2 %}
{% set col3 = count == 3 %}
{% set col4 = count == 4 %}
{% set col5 = count == 5 %}
{% set col6 = count == 6 %}

{% set row_classes = [
    'rvt-c-grid-builder',
    'rvt-row',
    col1 ? 'rvt-row--loose -rvt-m-bottom-xl',
    col2 ? 'rvt-row--loose -rvt-m-bottom-xl',
    col3 ? 'rvt-row--normal -rvt-m-bottom-md',
    col4 ? 'rvt-row--tight -rvt-m-bottom-sm',
    col5 ? 'rvt-row--tight -rvt-m-bottom-sm',
    col6 ? 'rvt-row--tight -rvt-m-bottom-sm',
  ]
%}
{% set col_classes = [
    col1 ? 'rvt-cols-12 rvt-m-bottom-xl',
    col2 ? 'rvt-cols-6-md rvt-m-bottom-xl',
    col3 ? 'rvt-cols-4-md rvt-m-bottom-md',
    col5 ? 'rvt-cols-20percent-md rvt-m-bottom-sm',
    col6 ? 'rvt-cols-4-md rvt-m-bottom-sm',
  ]
%}
{% set col_classes = col_classes|join(' ')|split(' ')|filter(c => c is not empty) %}

<div{{ attributes.addClass(row_classes) }}>
  {% for key, item in columns|filter((item, key) => key|first != '#') %}
    {{ item|merge({'#attributes': {'class': col_classes}}) }}
  {% endfor %}
</div>
