{#
/**
 * @file
 * Template to display a custom Section component.
 */
#}
{{ attach_library('iu_paragraphs/rvt-c-section') }}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set heading = paragraph.iu_section_title.value %}
{% set has_content = paragraph.iu_section_content.value is not empty %}
{%
  set classes = [
    'rvt-c-section',
    hr or bgcolor or vertical_spacing ? '[',
    hr ? 'rvt-border-bottom',
    bgcolor,
    vertical_spacing,
    hr or bgcolor or vertical_spacing ? ']',
  ]
%}
{% set inner_classes = [
    'rvt-c-section__inner',
    '[',
    'rvt-flow',
    width ? width : content_width ? content_width : page_width ? page_width : 'rvt-container-lg',
    ']',
  ]
%}
<section{{ attributes.addClass(classes) }} id="{{ id }}">
  {{ title_suffix }}
  <div class="{{ inner_classes|join(' ')|trim }}">
    {% if title_text %}
    <{{ title_tag }} class="rvt-c-section__heading [ {{ title_size }} ]">
      {{ title_text }}
    </{{ title_tag }}>
    {% endif %}
    {% if has_content %}
    {{ content|without('iu_section_title') }}
    {% elseif user.hasPermission('view own unpublished content') %}
    <div class="rvt-empty-state">
      <div class="rvt-empty-state__content">
        <div class="rvt-p-all-md rvt-m-bottom-md rvt-bg-black-100 rvt-inline-flex rvt-border-radius-circle">
          <svg fill="currentColor" width="16" height="16" viewBox="0 0 16 16"><path d="M10 14h5.5v-2h-1.382l-.366-.733a2.86 2.86 0 0 1-.298-1.12l-.234-4.209A5.23 5.23 0 0 0 9 1.096V0H7v1.096a5.23 5.23 0 0 0-4.22 4.842l-.234 4.209a2.86 2.86 0 0 1-.298 1.12L1.882 12H.5v2H6a2 2 0 1 0 4 0Zm1.886-2H4.114a4.86 4.86 0 0 0 .429-1.742l.234-4.209a3.228 3.228 0 0 1 6.446 0l.234 4.209A4.86 4.86 0 0 0 11.886 12Z"></path></svg>
        </div>
        <p>There's nothing here yet.</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
