{#
/**
 * @file
 * Template to display a legacy Carousel as a Rivet Grid.
 */
#}
{# Handle field layouts. #}
{% if content._field_layout.content %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set items = content.iu_slide_content %}
{% set count = items['#items']|length %}
{% set grid_1 = count == 1 %}
{% set grid_2 = count == 2 or count == 4 %}
{% set grid_3 = count in [ 3, 6, 9, 12, 15, 18, 21, 24 ] %}
{% set grid_4 = count in [ 7, 8, 11, 16, 20, 22, 26, 27, 28 ] or count > 30 %}
{% set grid_5 = count in [ 5, 10, 13, 14, 17, 19, 23, 25, 29, 30 ] %}

{%
  set row_classes = [
    'rvt-row',
    grid_2 ? 'rvt-row--loose',
    'rvt-m-top-lg',
  ]
%}
{% set col_classes = [
    grid_1 ? 'rvt-cols-12',
    grid_2 ? 'rvt-cols-6-md',
    grid_3 ? 'rvt-cols-4-md',
    grid_4 ? 'rvt-cols-3-md',
    'rvt-m-bottom-md',
  ]
%}
{% set col_attributes = create_attribute({'class': col_classes}) %}

<div{{ attributes.addClass(row_classes) }}>

  {{ title_suffix }}

  {% set filtered_items = items|filter((item, key) => key|first != '#') %}
  {% for key, item in filtered_items %}
    <div{{ create_attribute({'class': col_classes}) }}>
      {{ item }}
    </div>
  {% endfor %}

</div>
