{#
/**
 * @file
 * Template to display legacy Callout / Pullquote as a Rivet Quote.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content %}
{% set content = content._field_layout.content %}
{% endif %}

{% set text = content.iu_callout_content %}
{% set citation_title = content.iu_quote_attribution %}
{% set citation_subtitle = content.iu_attribution_subtitle %}

{%
  set classes = [
    'rvt-quote',
    has_image ? 'rvt-quote--image',
  ]
%}

<div{{ attributes.addClass(classes)}}>
  {{ title_suffix }}
  {% if has_image %}
    {{ content.iu_callout_image }}
    {{ content.iu_media_image }}
  {% endif %}
  <blockquote class="rvt-quote__text">
    {{ text }}
  </blockquote>
  {% if has_citation_title or has_citation_subtitle %}
  <p class="rvt-quote__citation">
    {% if has_citation_title %}
    <span class="rvt-quote__title">{{ citation_title }}</span>
    {% endif %}
    {% if has_citation_subtitle %}
    <span class="rvt-quote__subtitle">{{ citation_subtitle }}</span>
    {% endif %}
  </p>
  {% endif %}
</div>
