{#
/**
 * @file
 * Template to display an Accordion.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set sections = content.iu_accordion_section %}

<div{{ attributes.addClass(classes) }}>
  {{ title_suffix }}

  <div class="rvt-accordion" data-rvt-accordion="accordion">
    {# Loop through all of the accordion sections. #}
    {% for key, item in sections|filter((item, key) => key|first != '#') %}
      <div role="heading" aria-level="2">
        {% set section = item['#paragraph'] %}
        {% set section_id = key + 1 %}
        {% set panel_id = 'panel-' ~ paragraph.id.value ~ '-' ~ section_id %}
        <h3 class="rvt-accordion__summary">
          <button class="rvt-accordion__toggle" data-rvt-accordion-trigger>
            <span class="rvt-accordion__toggle-text">
              {# Print the accordion section title. #}
              {{ section.iu_accordion_section_title.value }}
            </span>
            <div class="rvt-accordion__toggle-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
                <g fill="currentColor">
                  <path class="rvt-accordion__icon-bar" d="M8,15a1,1,0,0,1-1-1V2A1,1,0,0,1,9,2V14A1,1,0,0,1,8,15Z"/>
                  <path d="M14,9H2A1,1,0,0,1,2,7H14a1,1,0,0,1,0,2Z"/>
                </g>
              </svg>
            </div>
          </button>
        </h3>
        <div class="rvt-accordion__panel" data-rvt-accordion-panel>
          {# Loop through all of the accordion section bodies. #}
          {% for body_key, body_item in section.iu_accordion_section_body %}
            {# Use the same render array as item and set the '#paragraph'. #}
            {% set section_body = item %}
            {# Load the entity for the current translation #}
            {% set section_body = section_body|merge({'#paragraph': section_body['#paragraph'].iu_accordion_section_body[body_key].entity.getTranslation(section_body['#paragraph'].langcode[0].value)}) %}
            {# Remove the cache keys so it doesn't repeat the first value. #}
            {% set section_body = section_body|merge({'#cache': {}}) %}
            <p class="rvt-m-all-remove">{{ section_body }}</p>
            {# Print the compiled section body. #}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
