{#
/**
 * @file
 * Template to display a legacy Call to Action as a custom Rivet component.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set has_text = paragraph.iu_cta_text.value|render|trim|length %}
{% set cta_text = content.iu_cta_text %}
{% set cta_actions = content.iu_cta_actions %}
{% set cta_style = paragraph.iu_cta_style.0.value ?? 'rvt-cta rvt-cta--link' %}
{% set is_cta = 'rvt-cta' in cta_style %}
{% set is_cta_button = 'rvt-cta--button' in cta_style %}
{% set is_cta_link = 'rvt-cta--link' in cta_style %}
{% set is_button = 'rvt-button' in cta_style %}
{% set count = cta_actions|filter((item, key) => key|first != '#')|length %}

{%
  set classes = [
    'rvt-c-call-to-action',
  ]
%}
{%
  set action_classes = [
    is_button ? 'rvt-button-group',
    is_cta or has_text ? '[',
    has_text ? 'rvt-m-bottom-xs',
    is_cta ? 'rvt-flex rvt-items-center rvt-gap-md',
    is_cta or has_text ? ']',
  ]
%}

<div{{ attributes.addClass(classes)}}>
  {{ title_suffix }}

  {% for key, item in cta_text|filter((item, key) => key|first != '#') %}
  <{{header_level}} class="rvt-c-call-to-action__text [ rvt-ts-lg rvt-m-bottom-lg ]">{{ item }}</{{header_level}}>
  {% endfor %}

  <div{{ create_attribute({'class': action_classes}) }}>
  {% for key, item in cta_actions|filter((item, key) => key|first != '#') %}
    {% set button_classes = [
      is_cta ? 'rvt-cta',
      is_button ? 'rvt-button',
      is_cta_button and not loop.first ? 'rvt-cta--link',
      is_cta_button and loop.first ? 'rvt-cta--button',
      is_cta_link ? 'rvt-cta--link',
      is_button and not loop.first ? 'rvt-button--secondary'
    ] %}
    {% if loop.first %}
      {{ item|merge({'#attributes': {'class': button_classes}}) }}
    {% else %}
      {% set button_classes = button_classes|merge([]) %}
      {{ item|merge({'#attributes': {'class': button_classes}}) }}
    {% endif %}
  {% endfor %}
  </div>
</div>
