{#
/**
 * @file
 * Template to display a legacy Panel as a Rivet card.
 */
#}

{# Handle field layouts. #}
{% if content._field_layout.content is not empty %}
  {% set content = content._field_layout.content %}
{% endif %}

{% set header = content.iu_panel_header %}
{% set text = content.iu_panel_content %}

<div{{ attributes.addClass('rvt-card rvt-card--raised')}}>
  <div class="rvt-card__body">
    {{
      header|merge({
      '#attributes': {
        'class': ['rvt-card__title'],
        'data-header-level': header_level,
        }
      })
    }}
    <div class="rvt-card__content [ rvt-flow rvt-p-top-sm ]">
      {{ text.0['#text']|raw }}
    </div>
  </div>
</div>


